* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box !important;
}
:root {
  --primary-color: #ffc107;
}
/* Headers Style */
#header-btn,
#search__btn,
#view__all__btn,
.subscribe__btn {
  background-color: var(--primary-color);
}

/* Banndr Style */
.banner__section {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(./images/banner_1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.banner {
  max-width: 768px;
  margin: auto;
  padding: 155px 0;
}

.form__container {
  height: 50px;
}

#basic-addon1 {
  background-color: #fff;
}
#search__field {
  border: none;
}

/* Search Results Styles */
.search__results__section {
  padding: 120px 0;
}

.view__link {
  color: var(--primary-color);
}

#meals-container {
  margin: 50px 0 85px;
}

/* Footer Style */
footer {
  padding: 120px 0;
  background-color: rgba(255, 193, 7, 0.05);
}
